server:
  port: 3000
  servlet:
    context-path: /order-service

spring:
  application:
    name: order-service

inventory:
  service:
    url: http://localhost:4000/inventory-service/v1

pactbroker:
  url: ${PACT_BROKER_URL:}
  auth:
    token: ${PACT_BROKER_TOKEN:}