name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: ./mvnw clean verify
    
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: JUnit Tests
        path: target/surefire-reports/*.xml
        reporter: java-junit
        fail-on-error: true
    
    - name: Publish Pact Contracts
      if: success()
      env:
        PACT_BROKER_BASE_URL: https://pact-mock.pactflow.io/
        PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        GIT_COMMIT: ${{ github.sha }}
        GIT_BRANCH: ${{ github.ref_name }}
      run: ./mvnw pact:publish 