name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      env:
        PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
        PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        GIT_COMMIT: ${{ github.sha }}
      run: ./mvnw clean verify

    - name: Can I Deploy
      env:
        PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
        PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
      run: |
        docker run --rm \
          pactfoundation/pact-cli:latest broker can-i-deploy \
          --broker-base-url=${PACT_BROKER_URL} \
          --broker-token=${PACT_BROKER_TOKEN} \
          --pacticipant order-service \
          --latest

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: JUnit Tests
        path: target/surefire-reports/*.xml
        reporter: java-junit
        fail-on-error: true 