name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      PACT_BROKER_BASE_URL: ${{ secrets.PACT_BROKER_URL }}
      PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
      GITHUB_SHA: ${{ github.sha }}
      GITHUB_BRANCH: ${{ github.ref_name }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch full history for commit hash
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: ./mvnw clean verify -Dpactbroker.url="${{ secrets.PACT_BROKER_URL }}" -Dpactbroker.auth.token="${{ secrets.PACT_BROKER_TOKEN }}"
      env:
        PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
        PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        GIT_COMMIT: ${{ github.sha }}
        GIT_BRANCH: ${{ github.ref_name }}
    
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: JUnit Tests
        path: target/surefire-reports/*.xml
        reporter: java-junit
        fail-on-error: true
    
    - name: Publish Pact to Broker
      run: ./mvnw pact:publish
      env:
        PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
        PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        GIT_COMMIT: ${{ github.sha }}
        GIT_BRANCH: ${{ github.ref_name }}
    
    - name: Can I Deploy
      run: ./mvnw pact:can-i-deploy -Dpacticipant=order-service -Dversion=${{ github.sha }} -Dto=${GIT_BRANCH}
      env:
        PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
        PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        GIT_COMMIT: ${{ github.sha }}
        GIT_BRANCH: ${{ github.ref_name }} 